{% extends 'RecMainBundle::layout.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block content %}
<ul style="margin-bottom: 0;" class="list-unstyled">
{% for artwork in artworks %}
    <li>
        <img src="{{ artwork.pathname }}" alt="0">
        {% if artwork.description %}
            <div style="padding: 10px;">
                {% if artwork.description and artwork.description2 and artwork.description3 %}
                    <div class="row" style="margin: 0 -10px;">
                        <div class="col-xs-4" style="padding: 0 10px;">
                            {{ artwork.description|nl2br }}
                        </div>
                        <div class="col-xs-4" style="padding: 0 10px;">
                            {{ artwork.description2|nl2br }}
                        </div>
                        <div class="col-xs-4" style="padding: 0 10px;">
                            {{ artwork.description3|nl2br }}
                        </div>
                    </div>
                {% elseif artwork.description and artwork.description2 %}
                    <div class="row" style="margin: 0 -10px;">
                        <div class="col-xs-6" style="padding: 0 10px;">
                            {{ artwork.description|nl2br }}
                        </div>
                        <div class="col-xs-6" style="padding: 0 10px;">
                            {{ artwork.description2|nl2br }}
                        </div>
                    </div>
                {% else %}
                    {{ artwork.description|nl2br }}
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endfor %}
</ul>
{#<div id="slider">
    <div class="row">
        <div class="col-xs-2">
            <a class="control prev" data-direction="prev" href="#"><img src="{{ asset('bundles/recmain/images/a.png') }}" alt="0"></a>
        </div>
        <div class="col-xs-12">
            <ul class="slider">
                {% for artwork in artworks %}
                    <li>
                        <img style="margin: auto;" src="{{ artwork.pathname }}" alt="0">
                        <br>
                        <p>{{ artwork.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-2">
            <a class="control next" data-direction="next" href="#"><img src="{{ asset('bundles/recmain/images/z.png') }}" alt="0"></a>
        </div>
    </div>
    <ul class="carousel">
        {% for artwork in artworks %}
            <li></li>
        {% endfor %}
    </ul>
</div>#}
{% endblock %}

{% block js %}
{{ parent() }}
{#<script src="{{ asset('bundles/msiadmin/vendor/msi-slider/js/msi-slider.js') }}"></script>#}
<script>
(function($) {
    "use strict";
    $('#slider').msiSlider({
        cycle: false,
        sliderSpeed: 1,
        carouselSpeed: 1
    });

//     $(window).on('load', function() {
//         $('.slider li').each(function(i, e) {
//             var $li = $(e);

//             var liHeight = $li.children('img').height();
// console.log(liHeight);
//             var marginTop = (liHeight / 2) - 157;

//             if (liHeight < 630) {
//                 $li.css('margin-top', marginTop);
//             }
//         });
//     });
})(jQuery);
</script>
{% endblock %}
