{% extends 'RecMainBundle::layout.html.twig' %}

{% block content %}
<div id="slider">
    <div class="row">
        <div class="col-xs-2">
            <a class="control prev" data-direction="prev" href="#"><img src="{{ asset('bundles/recmain/images/a.png') }}" alt="0"></a>
        </div>
        <div class="col-xs-8">
            <ul class="slider">
                {% for artwork in artworks %}
                    <li>
                        <img style="margin: auto;" src="{{ artwork.pathname }}" alt="0">
                        <br>
                        <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat.</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-2">
            <a class="control next" data-direction="next" href="#"><img src="{{ asset('bundles/recmain/images/z.png') }}" alt="0"></a>
        </div>
    </div>
    <ul class="carousel">
        {% for artwork in artworks %}
            <li></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/msiadmin/vendor/msi-slider/js/msi-slider.js') }}"></script>
<script>
(function($) {
    "use strict";
    $('#slider').msiSlider({
        cycle: false,
        sliderSpeed: 1,
        carouselSpeed: 1
    });
})(jQuery);
</script>
{% endblock %}
